<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jc321013.NaturalDisasters">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Natural Disaster"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.jc321013.NaturalDisasters.MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.jc321013.NaturalDisasters.HighestScoreActivity" />
        <activity android:name="com.example.jc321013.NaturalDisasters.Game" />
        <activity android:name="com.example.jc321013.NaturalDisasters.Authenticate" />
        <activity android:name="com.example.jc321013.NaturalDisasters.Settings" />
        <activity android:name="com.example.jc321013.NaturalDisasters.AccelarometreData"/>
    </application>

</manifest>